<% if @publisher.errors.any? %>
	<div id="errpr_explanation">
		<div class="alert alert-error">
				The form contains <%= pluralize(@publisher.errors.count, "error") %>.
		</div>
		<ul>
		<% @publisher.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
<% end %>
